<h1>Edit Painting</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.painting_path(@conn, :update, @painting)) %>

<span><%= link "Back", to: Routes.painting_path(@conn, :index) %></span>
