<h1>Show Painting</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @painting.name %>
  </li>

  <li>
    <strong>Artist:</strong>
    <%= @painting.artist %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.painting_path(@conn, :edit, @painting) %></span>
<span><%= link "Back", to: Routes.painting_path(@conn, :index) %></span>
